.turn-on-yellow {
    box-shadow: 10px 10px 53px 55px rgba(250,255,0,0.75);
-webkit-box-shadow: 10px 10px 53px 55px rgba(250,255,0,0.75);
-moz-box-shadow: 10px 10px 53px 55px rgba(250,255,0,0.75);
}

.turn-on-green {
    box-shadow: 10px 10px 53px 55px rgba(24,235,83,0.75);
-webkit-box-shadow: 10px 10px 53px 55px rgba(24,235,83,0.75);
-moz-box-shadow: 10px 10px 53px 55px rgba(24,235,83,0.75);
}

.turn-on-red {
    box-shadow: 10px 10px 53px 55px rgba(219,0,0,0.75);
-webkit-box-shadow: 10px 10px 53px 55px rgba(219,0,0,0.75);
-moz-box-shadow: 10px 10px 53px 55px rgba(219,0,0,0.75);
}

.btn-purple {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6f42c1;
    --bs-btn-border-color: #6f42c1;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #59359a;
    --bs-btn-hover-border-color: #533190;
    --bs-btn-focus-shadow-rgb: 111, 66, 193;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #533190;
    --bs-btn-active-border-color: #4e2e87;
}
